
body{
  background-image: url('../images/background.jpg');
}

#screen{
  height:550px;
  width:550px;
  background-image: url('../images/pokemon_grid.png');
  background-position-x: 200px;
  background-position-y: -100px;
  background-repeat: no-repeat;
  border: thin solid black;
  z-index:0;
  background-color: black;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
}

.nopadding{
  padding:0px;
}

#character{
  height:50px;
  width:50px;
  top:250px;
  left: 250px;
  background-image: url('../images/up.png');
  background-size: 100%;
  background-repeat: no-repeat;
  position:absolute;
}

#intro{
  background: url("../images/splash.jpg");
  background-size:cover;
  position: absolute;
  z-index: 1;
  width: 550px;
  height: 550px;
}

#intro:focus{
  outline: none;
}

#screen:focus{
  outline: none;
  margin-top: 50px;
}

#logo{
  background: url("../images/logo.gif");
  background-size:cover;
  position: absolute;
  z-index: 2;
  width: 500px;
  height: 200px;
  transform: rotate(-20deg);
  left: -80px;
  top: -30px;
}

#status{
  align-content: center;
  position: absolute;
  z-index: 1;
  left: 35px;
  top: 300px;
  font-family: ArcadeClassic;
  font-size: x-large;
}

.pikachu{
  width:225px;
  height:100px;
}

@font-face{
  font-family:ArcadeClassic;
  src: url("../fonts/ARCADECLASSIC.TTF");
}

#chat{
  top: 450px;
  position: relative;
  width: 550px;
  height: 100px;
  background-color: white;
  font-family: ArcadeClassic;
  font-size: 19px;
  padding: 30px;
  border: thick solid black;
  border-radius: 10px;
}

#keys{
  width:124px;
  height:86px;
  float:right;
}
.key{
  width:50px;
  height:50px;
  float:right;
}

.enter{
  width:100px;
  height:50px;
  float:right;
}

#howto{
  width: 500px;
  padding: 15px;
  background: white;
  font-family: ArcadeClassic;
  font-size: 24px;
  border: thick solid black;
  border-radius: 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
